## Introduction
After each release it's important to update your category and stage visions to ensure they accurately reflect what was delivered, especially in the `What's Next` sections. You should also consider this an opportunity to make any updates that you might have been considering  but not put the time into creaeting an MR for. Consider creating a branch and reviewing each of your Direction pages (Stage and Categories) one-by-one looking for updates.

Be sure to follow the most up-to-date guidance in the handbook about [managing your product plan](https://about.gitlab.com/handbook/product/#managing-your-product-plan).

Check the [product development timeline](https://about.gitlab.com/handbook/engineering/workflow/#product-development-timeline) for the due date for this content.

## Tasks
Submit and merge MRs for any needed updates. If there are updates, post them in the appropriate channels (#s_, #g_)

### Update Group Categories and Related Themes
For example the direction/verify/continous_integration or direction/monitor/health/incident_management pages.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Category visions reviewed
<% end %>

### Review Maturity Plans
Maturity for each stage is listed on the Maturity page and can be adjusted via categories.yml. Adjusted for Maturity Plans require review, please assign them to the Assignee on this issue.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Maturity plans reviewed
<% end %>

### Record New Speed Runs

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Speed run recorded
<% end %>

### Update Stage Content

<% section['stages'].each do |stage| %>
* [ ] <%= stage['name'] %> - <%= stage['pm'] %> - Stage Direction Updated
<% end %>

### Update Section Content
Update section pages and walk-throughs

* [ ] <%= section['name'] %> - <%= section['pm']%> - Update Section Direction page
* [ ] <%= section['name'] %> - <%= section['pm']%> - Update Section Walk Through


/assign <%= section['pm'] %>

/label ~"Direction Update" ~Doing