## Introduction
As Product Managers you are fully empowered to define the what and priority of what you are building. Giving you this power enables us to iterate faster and drive more value for our users. There are two instances where it is helpful to have an outside review of your scheduled issues. Those are:
* **MVCs** - Creating the smallest iteration possible is difficult, especially when you've been working with a problem for sometime. It's natural to think what you've come up with is the smallest, and takes collaboration with others to get to something even smaller.
* **New Configs** - It's easy to think of all the possible options users might want with a feature. When introducing new configuration it's natural to get into a local-optimization mindset that some users want to be able to adjust this setting so why not add a new config option? It is helpful to have an outside perspective to bring a slightly more global view of the addition of a new config option, and the possibility of eliminating it or supplying an appropriate default.

This issue is meant to provide a reminder and a place to collaborate on issues scheduled in the upcoming milestone between Product Managers and Product Leaders.

## MVC Review Tasks
Please `@mention` your Product Leader (this issue is assigned to them) on all relevant MVC issues scheduled in the upcoming milestone to provide an async review.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - <%= group['pm'] %> - Ping Product Leader on Issues
<% end %>

## New Config Review
Please `@mention` your Product Leader (this issue is assigned to them) on all relevant issues which introduce a new configuration and are scheduled in the upcoming milestone to provide an async review.

<% section['groups'].each do |group| %>
* [ ] <%= group['stage'] %>:<%= group['name'] %> - Ping Product Leader on Issues
<% end %>

/assign <%= section['pm'] %>

/label ~"MVC & Config Review" ~Doing